@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 273 33% 94%;
    --foreground: 270 10% 25%;
    --card: 0 0% 100%;
    --card-foreground: 270 10% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 270 10% 25%;
    --primary: 271 27% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 272 30% 88%;
    --secondary-foreground: 270 10% 25%;
    --muted: 273 30% 91%;
    --muted-foreground: 270 10% 45%;
    --accent: 195 30% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 272 30% 85%;
    --input: 272 30% 85%;
    --ring: 271 27% 61%;
    --radius: 0.5rem;
    --chart-1: 271 27% 61%;
    --chart-2: 195 30% 61%;
    --chart-3: 272 30% 75%;
    --chart-4: 195 30% 75%;
    --chart-5: 271 27% 85%;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 270 10% 25%;
    --sidebar-primary: 271 27% 61%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 273 30% 91%;
    --sidebar-accent-foreground: 270 10% 15%;
    --sidebar-border: 272 30% 85%;
    --sidebar-ring: 271 27% 61%;
  }

  .dark {
    --background: 270 10% 10%;
    --foreground: 270 20% 95%;
    --card: 270 10% 15%;
    --card-foreground: 270 20% 95%;
    --popover: 270 10% 15%;
    --popover-foreground: 270 20% 95%;
    --primary: 271 27% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 270 10% 20%;
    --secondary-foreground: 270 20% 95%;
    --muted: 270 10% 20%;
    --muted-foreground: 270 20% 75%;
    --accent: 195 30% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 10% 25%;
    --input: 270 10% 25%;
    --ring: 271 27% 61%;
    --chart-1: 271 27% 61%;
    --chart-2: 195 30% 61%;
    --chart-3: 272 30% 45%;
    --chart-4: 195 30% 45%;
    --chart-5: 271 27% 35%;
    --sidebar-background: 270 10% 15%;
    --sidebar-foreground: 270 20% 95%;
    --sidebar-primary: 271 27% 61%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 270 10% 20%;
    --sidebar-accent-foreground: 270 20% 95%;
    --sidebar-border: 270 10% 25%;
    --sidebar-ring: 271 27% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
